:root
{
    --color-font-menu: #0984e3;
    --color-background-menu: #dfe6e9;
    --color-bloco-rodape: #4690ff;
    --color-borda-psicologa: #4286f4c9;
    --color-formacao-especialidade: #ff5600;
    --color-botao-formulario: rgb(8, 180, 139);
    --color-botao-formulario-hover: rgb(8, 204, 139);
    --color-bloco-especialidade-pos: rgba(137, 195, 154, 0.99);
    --color-bloco-especialidade-dr: rgba(183, 50, 142, 0.8);
    --color-bloco-especialidade-dp: rgba(95, 182, 191, 0.99);
    --font-title: 'Bebas Neue', cursive;
}