.main-input
{
    border-radius: 10px;
    border: none;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-input:nth-child(even)
{
    margin-right: 0;
}

.main-input:nth-child(n+5):nth-child(-n+6)
{
    margin-bottom: 0;
}