.main-subtitle
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.main-subtitle.-second
{
    margin-top: 30px;
    font-size: 50px;
}

.main-subtitle.-third
{
    margin-bottom: 30px;
}

.main-service .main-subtitle
{
    font-size: 20px;
    line-height: 25px;
}