.main-service
{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 28%;
    border-radius: 25px;
    padding: 15px;
    justify-content: space-between;
}

.main-service.-main-pos
{
    background-color: var(--color-bloco-especialidade-pos);
}

.main-service.-main-graduation
{
    background-color: var(--color-bloco-especialidade-dp);
}

.main-service.-main-doctor
{
    background-color: var(--color-bloco-especialidade-dr);
}