.main-wallpaper
{
    height: 680px;
    background-image: url(../../assets/img/foto-capa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-thought
{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.45);
    border: 2px solid black;
    border-radius: 75px;
    font-size: 1.2rem;
    padding: 5px 20px;
    text-align: center;
    line-height: 1.4rem;
}