.main-btn
{
    width: fit-content;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

.main-btn:hover
{
    background-color: #fff;
    text-shadow: none;
    transform: scale();
}

.main-btn.-pos:hover
{
    color: var(--color-bloco-especialidade-pos);
}

.main-btn.-graduation:hover
{
    color: var(--color-bloco-especialidade-dp);
}

.main-btn.-doctor:hover
{
    color: var(--color-bloco-especialidade-dr);
}

.main-btn.-form
{
    background-color: var(--color-background-botao-formulario);
    border: none;
    width: 250px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.main-btn.-form:hover
{
    background-color: var(--color-background-botao-formulario-hover);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);    
}

.main-btn.-form.-color
{
    background-color: var(--color-background-botao-consulta);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: ease-in-out 0.5s;
}

.main-btn.-form.-color:hover
{
    background-color: var(--color-background-botao-consulta-hover);
}