.main-paragraph
{
    line-height: 25px;
}

.main-paragraph.-service
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-paragraph.-aboutChemical
{
    line-height: 30px;
}

.main-paragraph.-psycho
{
    max-width: 700px;
    margin-left: 50px;
    line-height: 30px;
}

.c-paragraph.-color
{
    text-align: center;
    color: #fff;
}