.main-section
{    
    padding-top: 25px;
    padding-bottom: 50px;
}

.main-section.-support
{
    background-color: var(--color-background-menu);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.main-section.-bgAboutChemical
{
    position: relative;
    z-index: -2;
    margin-top: 50px;
    background-image: url(../../assets/img/img-about.gif);
    background-repeat: no-repeat;
    background-position-x: right;
}

.main-section.-info
{
    background-color: var(--color-background-bloco-rodape);
    color: #fff;
    padding-bottom: 0;
}

.main-section.-about
{
    position: relative;
    z-index: -2;
    background-image: url(../../assets/img/fundo-hexagonal.png);
    background-repeat: no-repeat;
    background-size: cover;
}