.main-image
{
    max-width: 400px;
    border: 10px solid var(--color-borda-psicologa);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition-duration: 0.5s;
}

.main-image:hover
{
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;    
    border-bottom-right-radius: 0;
}