.main-subtitle
{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.main-subtitle.-second
{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 5rem;
}

.main-subtitle.-second.-psycho
{
    padding-top: 0;
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 30px;
}

.main-subtitle.-second.-white
{
    color: #fff;
}

.main-subtitle.-third
{
    padding-bottom: 30px;
}

.main-subtitle.-third.-tcc
{
    padding-top: 30px;
    font-weight: 300;
}

.main-subtitle.-third.-tcc.-line
{
    padding-top: 15px;
    text-decoration: underline;
}

.main-subtitle.-third.-box
{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: start;
    padding-left: 5px;
}

.main-subtitle.-third.-color
{
    color: #fff;
}

.main-subtitle.-third.-color span
{
    text-decoration: underline;
    text-align: center;
}

.main-subtitle.-treat
{
    padding-top: 15px;
    padding-bottom: 15px;
}