.main-service
{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 30%;
    border-radius: 25px;
    padding: 15px;
    justify-content: space-between;
}

.main-service.-main-pos
{
    background-color: var(--color-bloco-especialidade-pos);
}

.main-service.-main-graduation
{
    background-color: var(--color-bloco-especialidade-dp);
}

.main-service.-main-doctor
{
    background-color: var(--color-bloco-especialidade-dr);
}

.main-service .service-paragraph
{
    line-height: 25px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}