.main-subtitle
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.main-subtitle.-second
{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}

.main-subtitle.-third
{
    padding-bottom: 30px;
}

.main-subtitle.-third.-tcc
{
    padding-top: 30px;
    font-weight: 300;
}