.menu-navegation ul
{
    display: flex;
}

.menu-navegation ul li a
{
    text-transform: uppercase;
    padding: 10px;
    margin-right: 15px;
}

.menu-navegation ul li:last-child a
{
    margin-right: 0;
}