.support-figure
{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
}

.support-figure:nth-child(4n)
{
    margin-right: 0;
}

.support-figure:nth-child(n+9):nth-child(-n+12)
{
    margin-bottom: 0;
}

.support-figure .bd-circle
{
    border-radius: 50%;
}

.support-figure .txt-support
{
    font-weight: 700;
    font-size: 14px;
    padding-top: 20px;
}