.wrapper-info
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.wrapper-info .contact
{
    text-align: start;
}

.wrapper-info .contact .address
{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.address > span
{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 9px;
    font-size: 14px;
}

.address > span a
{
    color: #fff;
}

.address > span:nth-child(3) a:hover,
.address > span:nth-child(4) a:hover
{
    text-decoration: underline;
}

.contact iframe
{
    display: block;
    margin: auto;
}

.wrapper-info .find-us .social-midias
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5px;
}

.wrapper-info .find-us .social-midias a
{
    margin-right: 30px;
}

.wrapper-info .find-us .social-midias a:last-child
{
    margin-right: 0;
}