.wrapper-list
{
    display: flex;
}

.list-formation
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;
}

.list-formation:last-child
{
    margin-right: 0;
}

.list-formation h3
{    
    color: var(--color-background-formacao-especialidade);
    padding-top: 25px;
    padding-bottom: 15px !important;
    font-weight: 400;
    text-align: left;
}

.list-formation ul
{
    list-style-type: '\1F393\00A0';
    list-style-position: inside;
}

.list-formation:last-child ul
{
    list-style-type: '\1F4DC\00A0';
}

.list-formation li
{
    padding: 10px 0;
}