.wrapper-input
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 68%;
}

.wrapper-input.-treat
{
    flex-direction: column;
    margin: 0;
}

.c-input
{
    margin: auto;
}

.c-input label
{
    color: #fff;    
}

.c-input label:first-of-type
{
    padding-right: 5px;
}