@media (max-width: 1025px)
{
    .wrapper-input .main-input:nth-child(-n+4)
    {
        width: 340px;
    }
}

@media (max-width: 769px)
{
    .main-section.-contact
    {
        border-top-left-radius: 300px;
    }
    .wrapper-input .main-input:nth-child(-n+4)
    {
        width: 520px;
    }
    .wrapper-input button
    {
        right: 0;
    }
}

@media (max-width: 426px)
{
    .main-section.-contact
    {
        border-top-left-radius: 200px;
    }

    .bg-opacity.-dark
    {
        border-top-left-radius: inherit;
    }

    .wrapper-input
    {
        width: 85%;
    }
    .wrapper-input .main-input:nth-child(-n+4)
    {
        width: 360px;
    }
    .wrapper-input button
    {
        margin: auto;
    }
}