@media (max-width: 1025px)
{
    .main-thought
    {
        font-size: 1.7rem;
        line-height: 1.8rem;
        width: 35%;
        left: 50%;
    }

    .support-figure:nth-child(4n)
    {
        margin-right: 50px;
    }
}

@media (max-width: 769px)
{
    .main-thought
    {
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 35%;
        left: 55%;
        top: 25%;
    }

    .wrapper-figure
    {
        max-width: 100%;
    }

    .support-figure,
    .support-figure:nth-child(4n)
    {
        margin-right: 0;
    }

    .main-article.-aboutChemical
    {
        width: 90%;
    }
}

@media (max-width: 426px)
{
    
    .main-article
    {
        width: 85%;
    }

    .main-section.-bgAboutChemical
    {
        background-size: cover;
    }

    .main-service
    {
        width: 85%;
        margin-bottom: 1.4rem;
    }

    .main-wallpaper
    {
        height: 85vh;
        background-image: url(../../assets/img/foto-capa-mobile.png);
    }

    .main-thought
    {
        display: none;
    }

    .support-figure,
    .support-figure:nth-child(4n),
    .support-figure:nth-child(n+9):nth-child(-n+12)
    {
        margin: auto;
        padding-bottom: 1.4rem;
    }

    .wrapper-service
    {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-figure
    {
        width: 90%;
    }
}