@media (max-width: 769px)
{
    .main-image
    {
        width: 200px;
        height: 200px;
        margin-left: 15px;
    }

    .main-article
    {
        width: 69%;
    }

    .main-subtitle.-second.-psycho
    {
        font-size: 2.1rem;
        margin: 0 10px;
    }
    
    .main-paragraph.-psycho
    {
        margin: 0 10px;
    }
    .main-paragraph.-psycho:last-of-type
    {
        margin-left: -215px;
    }

    .wrapper-list
    {
        margin: 0 50px;
    }
    .wrapper-list .list-formation li
    {
        line-height: 2.4rem;
    }
}

@media (max-width: 426px)
{
    .img-article
    {
        flex-direction: column;
        align-items: center;
    }

    .main-image
    {
        width: 300px;
        height: 300px;
        border: 5px solid var(--color-borda-psicologa);
    }

    .main-article    
    {
        width: 95%;
    }

    .main-subtitle.-second.-psycho
    {
        margin: 0;
        padding: 20px 0;
        font-size: 2rem;
    }

    .main-paragraph.-psycho
    {
        margin-left: 10px !important;
        margin-right: 10px;
    }

    .wrapper-list
    {
        flex-direction: column;
    }

    .list-formation
    {
        align-items: center;
        margin-right: 0;
    }
    .list-formation ul
    {
        width: 90%;
        text-align: center;
    }
}